<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <%- include("../partials//user-header") %>

</head>
<body>
    <%- include("./components/preloading.ejs") %>
        <%- include("./layouts/navbar.ejs") %>
            <main class="main">

                <%- include("./components/checkout/chekoutPath.ejs") %>

                    <section class="mt-50 mb-50">
                        <div class="container">

                            <%- include("./components/checkout/coupen-createAc.ejs") %>


                                <div class="row">
                                    <div class="col-12">
                                        <div class="divider mt-50 mb-50"></div>
                                    </div>
                                </div>

                                <div class="row">
                                    <%- include('./components/checkout/address.ejs') %>
                                        <%- include('./components/checkout/payment.ejs') %>

                                </div>
                        </div>
                    </section>
            </main>
            <%- include("./layouts/footer.ejs")%>
                <%- include("./script/script.ejs") %>
</body>

</html>