<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <%- include("../../partials/user-header") %>
    <%- include("../components/preloading.ejs") %>

</head>
<style>
  .card-big-shadow {
    max-width: 320px;
    position: relative;
  }

  .coloured-cards .card {
    margin-top: 30px;
  }

  .card[data-radius="none"] {
    border-radius: 0px;
  }

  .card {
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
    background-color: #FFFFFF;
    color: #252422;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
  }


  .card[data-background="image"] .title,
  .card[data-background="image"] .stats,
  .card[data-background="image"] .category,
  .card[data-background="image"] .description,
  .card[data-background="image"] .content,
  .card[data-background="image"] .card-footer,
  .card[data-background="image"] small,
  .card[data-background="image"] .content a,
  .card[data-background="color"] .title,
  .card[data-background="color"] .stats,
  .card[data-background="color"] .category,
  .card[data-background="color"] .description,
  .card[data-background="color"] .content,
  .card[data-background="color"] .card-footer,
  .card[data-background="color"] small,
  .card[data-background="color"] .content a {
    color: #FFFFFF;
  }

  .card.card-just-text .content {
    padding: 50px 40px;
    text-align: center;
  }

  .card .content {
    padding: 10px 20px 10px 20px;
  }

  .card[data-color="blue"] .category {
    color: #7a9e9f;
  }

  .card .category,
  .card .label {
    font-size: 14px;
    margin-bottom: 0px;
  }

  .card-big-shadow:before {
    background-image: url("http://static.tumblr.com/i21wc39/coTmrkw40/shadow.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    bottom: -12%;
    content: "";
    display: block;
    left: -12%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
  }

  h4,
  .h4 {
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.2em;
  }

  h6,
  .h6 {
    font-size: 0.9em;
    font-weight: 600;
    text-transform: uppercase;
  }

  .card .description {
    font-size: 16px;
    color: #66615b;
  }

  .content-card {
    margin-top: 30px;
  }

  a:hover,
  a:focus {
    text-decoration: none;
  }

  /*======== COLORS ===========*/
  .card[data-color="blue"] {
    background: #b8d8d8;
  }

  .card[data-color="blue"] .description {
    color: #506568;
  }

  .card[data-color="green"] {
    background: #d5e5a3;
  }

  .card[data-color="green"] .description {
    color: #60773d;
  }

  .card[data-color="green"] .category {
    color: #92ac56;
  }

  .card[data-color="yellow"] {
    background: #ffe28c;
  }

  .card[data-color="yellow"] .description {
    color: #b25825;
  }

  .card[data-color="yellow"] .category {
    color: #d88715;
  }

  .card[data-color="brown"] {
    background: #d6c1ab;
  }

  .card[data-color="brown"] .description {
    color: #75442e;
  }

  .card[data-color="brown"] .category {
    color: #a47e65;
  }

  .card[data-color="purple"] {
    background: #baa9ba;
  }

  .card[data-color="purple"] .description {
    color: #3a283d;
  }

  .card[data-color="purple"] .category {
    color: #5a283d;
  }

  .card[data-color="orange"] {
    background: #ff8f5e;
  }

  .card[data-color="orange"] .description {
    color: #772510;
  }

  .card[data-color="orange"] .category {
    color: #e95e37;
  }

  .card .content span {
    font-weight: bolder;
  }
</style>

<body>
  <%- include("../layouts/navbar.ejs") %>

    <main class="main">
      <div class="page-header breadcrumb-wrap">
        <div class="container">
          <div class="breadcrumb">
            <a href="/" rel="nofollow">Home</a>
            <span></span> Pages
            <span></span> Login / Register
          </div>
        </div>
      </div>
      <section class="pt-50 pb-50">
        <div class="container">
          <div class="row">
            <div class="col-lg-10 m-auto">


              <div class="row">
                
                <div class="col-md-4 col-sm-6 content-card">
                  <div class="card-big-shadow">
                    <div class="card card-just-text" data-background="color" data-color="blue" data-radius="none">
                      <div class="content">
                        <h4 class="title"><a href="#">Demo user</a></h4>
                        <p>Email: <span>demouser321@gmail.com</span></p>
                        <p>Password: <span>Demo@321</span></p>
                      </div>
                    </div> <!-- end card -->
                  </div>
                </div>
                
                <div class="col-lg-5 offset-lg-2 mx-auto">
                  <div
                    class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                    <div class="padding_eight_all bg-white">
                      <div class="heading_s1">
                        <h3 class="mb-30">Login</h3>
                      </div>
                      <form id="login-form">
                        <div class="form-group">
                          <input id="email" class="form-control" placeholder="Email" type="text" name="email">
                          <div id="email-error" class="invalid-feedback"></div>
                          <span id="emailError"></span>
                        </div>
                        <div class="form-group">
                          <input id="password" class="form-control" placeholder="Password" type="password"
                            name="password">
                          <div id="password-error" class="invalid-feedback"></div>
                          <span id="passwordError"></span>
                        </div>
                        <div class="login_footer form-group">
                          <div class="chek-form">
                            <div class="custome-checkbox">
                              <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox1"
                                value="">
                              <label class="form-check-label" for="exampleCheckbox1"><span>Remember me</span></label>
                            </div>
                          </div>
                          <a class="text-muted" href="#">Forgot password?</a>
                        </div>
                        <div class="form-group">
                          <button type="submit" class="btn btn-fill-out btn-block w-100 hover-up" name="login"
                            id="login-button">LOG IN</button>
                        </div>
                        <div class="form-group">
                          <a class="btn btn-fill-out btn-block w-100 hover-up" name="otp" id="otp-button"
                            href="/otp-login">LOG IN WITH OTP</a>
                        </div>
                      </form>

                      <div class="text-muted text-center mt-15 mb-15">Don't have an account? <a href="/signup">Sign
                          up</a></div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </section>
    </main>
    <%- include("../layouts/footer.ejs") %>
      <%- include("../script/script.ejs") %>
        <%- include("./validation/login-validation.ejs") %>

</body>

</html>