<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Categories </h2>
            <p>Add, edit or delete a category</p>
        </div>
        <div>
            <input type="text" placeholder="Search Categories" class="form-control bg-white">
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <form id="login-form">
                        <div class="mb-4">
                            <label for="product_name" class="form-label">Name</label>
                            <input type="text" name="name" placeholder="Type here" class="form-control"
                                id="product_name" />
                        </div>

                        <div class="d-grid">
                            <button type="submit" onclick="postCategory()" class="btn btn-primary">Create
                                category</button>
                        </div>

                    </form>
                </div>

                <div class="col-md-9">
                    <div class="table-responsive">
                        <table class="table table-hover" >
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Active</th>
                                    <th>Order</th>
                                    <th class="text-end">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% category.forEach((category)=> { %>
                                    <tr>

                                        <% var randomNum=Math.floor(Math.random() * 1223) + 1; %>
                                            <td>
                                                <%= randomNum %>
                                            </td>
                                            <td><b>
                                                    <%= category.name %>
                                                </b></td>
                                            
                                            <% if (category.active) { %>
                                                <td><span class="badge rounded-pill alert-success"
                                                        id="enableRound">Active</span></td>
                                                <% } else { %>
                                                    <td><span class="badge rounded-pill alert-danger"
                                                            id="disbleRound">Disabled</span>
                                                    </td>
                                                    <% } %>

                                                        <% var randomNum2=Math.floor(Math.random() * 102); %>
                                                            <td>
                                                                <%= randomNum2 %>
                                                            </td>
                                                            <td class="text-end">
                                                                <div class="dropdown">
                                                                    <a href="#" data-bs-toggle="dropdown"
                                                                        class="btn btn-light rounded btn-sm font-sm"> <i
                                                                            class="material-icons md-more_horiz"></i>
                                                                    </a>
                                                                    <div class="dropdown-menu">
                                                                        <a class="dropdown-item" href="#">View
                                                                            detail</a>
                                                                        <% if(category.active) { %>
                                                                            <a class="dropdown-item text-danger"
                                                                                onclick="updateCategory('<%= category._id %>',false)"
                                                                                href="#">Disable</a>
                                                                            <% } else { %>

                                                                                <a class="dropdown-item text-success"
                                                                                    onclick="updateCategory('<%= category._id %>',true)"
                                                                                    href="#">Enable</a>
                                                                                <% } %>
                                                                    </div>
                                                                </div>
                                                            </td>
                                    </tr>
                                    <% }) %>

                            </tbody>
                        </table>
                    </div>
                </div> <!-- .col// -->
            </div> <!-- .row // -->
        </div> <!-- card body .// -->
    </div> <!-- card .// -->
</section>


<script>
    function postCategory() {
        const name = document.getElementById('product_name').value.trim()
        $.ajax({
            url: '/admin/categories',
            method: 'POST',
            data: {
                name: name,
            },
            success: (resp) => {
                alert('Category created successfully');
            },
            error: () => {
                alert('Failed to add category due to server error');
            }
        })
    }

    function updateCategory(categoryId, status) {
        let enableOrDisable;
        if (status) {
            enableOrDisable = "Enabled"
        } else {
            enableOrDisable = "Disabled"
        }
        $.ajax({
            url: '/admin/category-status',
            method: 'PUT',
            data: { id: categoryId, status: status },
            success: (response) => {
                alert(`Category ${enableOrDisable} successfully`);
            },
            error: () => {
                alert('Failed to delete category due to server error');
            }
        })
    }


</script>